@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "trebuc";
  src: local("trebuc"), url("./fonts/Trebuc/trebuc.ttf") format("truetype");
}

@font-face {
  font-family: "bourtonbase";
  src: local("bourtonbase"),
    url("./fonts/Bourton/bourtonbase.ttf") format("truetype");
}

.trebuc {
  font-size: 20px !important;
}

.bourtontitle {
  font-family: "bourtonbase";
}

.swiper-container {
  z-index: 0 !important;
}
